<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="Xom.Gci.Lvf.Dp.Excel.NSpecimen.Lib" version="1.6.0" targetFramework="net452" />
  <package id="Xom.Gci.Lvf.Dp.Helper" version="2.0.0" targetFramework="net452" />
  <package id="Xom.Gci.Util.Excel" version="1.9.0" targetFramework="net452" />
</packages>