<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>    
    <add key="Informatics Nuget" value="https://nexus-repo.apps.hp.ocp.na.xom.com/repository/chem-informatics-nuget/" />
    <add key="Xom Nuget" value="https://nexus-repo.apps.hp.ocp.na.xom.com/repository/nuget.org-proxy/" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration> 
